/*KHALAMOS
PADRE poptropica*/
/* Fonts */

@font-face {
    font-family: 'Dimbo';
    src: url('fonts/DimboRegular.eot');
    src: url('fonts/DimboRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/DimboRegular.woff') format('woff'),
        url('fonts/DimboRegular.ttf') format('truetype'),
        url('fonts/DimboRegular.svg#DimboRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brun';
    src: url('fonts/Brun-Bold.eot');
    src: url('fonts/Brun-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Brun-Bold.woff') format('woff'),
        url('fonts/Brun-Bold.ttf') format('truetype'),
        url('fonts/Brun-Bold.svg#Brun-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SoupBone';
    src: url('fonts/SoupBone-Bold.eot');
    src: url('fonts/SoupBone-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/SoupBone-Bold.woff') format('woff'),
        url('fonts/SoupBone-Bold.ttf') format('truetype'),
        url('fonts/SoupBone-Bold.svg#SoupBone-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VAGRoundedTME';
    src: url('fonts/TME-Bold.eot');
    src: url('fonts/TME-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TME-Bold.woff') format('woff'),
        url('fonts/TME-Bold.ttf') format('truetype'),
        url('fonts/TME-Bold.svg#TME-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Flash D';
    src: url('fonts/FlashD-Bold.eot');
    src: url('fonts/FlashD-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/FlashD-Bold.woff') format('woff'),
        url('fonts/FlashD-Bold.ttf') format('truetype'),
        url('fonts/FlashD-Bold.svg#FlashD-Bold') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Brun';
    src: url('fonts/Brun.eot');
    src: url('fonts/Brun.eot?#iefix') format('embedded-opentype'),
        url('fonts/Brun.woff') format('woff'),
        url('fonts/Brun.ttf') format('truetype'),
        url('fonts/Brun.svg#Brun') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VAGRoundedTME';
    src: url('fonts/TME-Light.eot');
    src: url('fonts/TME-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/TME-Light.woff') format('woff'),
        url('fonts/TME-Light.ttf') format('truetype'),
        url('fonts/TME-Light.svg#TME-Light') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EurostileTBla';
    src: url('fonts/EurostileT-Blac.eot');
    src: url('fonts/EurostileT-Blac.eot?#iefix') format('embedded-opentype'),
        url('fonts/EurostileT-Blac.woff') format('woff'),
        url('fonts/EurostileT-Blac.ttf') format('truetype'),
        url('fonts/EurostileT-Blac.svg#EurostileT-Blac') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-BdCn.eot');
    src: url('fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-BdCnO.eot');
    src: url('fonts/HelveticaNeueLTStd-BdCnO.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-BdCnO.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-BdCnO.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-BdCnO.svg#HelveticaNeueLTStd-BdCnO') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-Roman.eot');
    src: url('fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-BlkCn.eot');
    src: url('fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-BlkCn.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-BlkCn.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-BlkCn.svg#HelveticaNeueLTStd-BlkCn') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-Md.eot');
    src: url('fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-HvCnO.eot');
    src: url('fonts/HelveticaNeueLTStd-HvCnO.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-HvCnO.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-HvCnO.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-HvCnO.svg#HelveticaNeueLTStd-HvCnO') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-Cn.eot');
    src: url('fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-Cn.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-HvCn.eot');
    src: url('fonts/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-HvCn.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-HvCn.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-CnO.eot');
    src: url('fonts/HelveticaNeueLTStd-CnO.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-CnO.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-CnO.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-CnO.svg#HelveticaNeueLTStd-CnO') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('fonts/HelveticaNeueLTStd-Bd.eot');
    src: url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
        url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
        url('fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('fonts/WarnockPro-It.eot');
    src: url('fonts/WarnockPro-It.eot?#iefix') format('embedded-opentype'),
        url('fonts/WarnockPro-It.woff') format('woff'),
        url('fonts/WarnockPro-It.ttf') format('truetype'),
        url('fonts/WarnockPro-It.svg#WarnockPro-It') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('fonts/WarnockPro-Bold.eot');
    src: url('fonts/WarnockPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/WarnockPro-Bold.woff') format('woff'),
        url('fonts/WarnockPro-Bold.ttf') format('truetype'),
        url('fonts/WarnockPro-Bold.svg#WarnockPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Warnock Pro';
    src: url('fonts/WarnockPro-Regular.eot');
    src: url('fonts/WarnockPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/WarnockPro-Regular.woff') format('woff'),
        url('fonts/WarnockPro-Regular.ttf') format('truetype'),
        url('fonts/WarnockPro-Regular.svg#WarnockPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'xscale';
    src: url('fonts/Xscale.eot');
    src: url('fonts/Xscale.eot?#iefix') format('embedded-opentype'),
        url('fonts/Xscale.woff') format('woff'),
        url('fonts/Xscale.ttf') format('truetype'),
        url('fonts/Xscale.svg#Xscale') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Doctor Soos';
    src: url('fonts/DoctorSoosBold.eot');
    src: url('fonts/DoctorSoosBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/DoctorSoosBold.woff') format('woff'),
        url('fonts/DoctorSoosBold.ttf') format('truetype'),
        url('fonts/DoctorSoosBold.svg#DoctorSoosBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MachineItcDEE';
    src: url('fonts/MachineItcDEE-Regu.eot');
    src: url('fonts/MachineItcDEE-Regu.eot?#iefix') format('embedded-opentype'),
        url('fonts/MachineItcDEE-Regu.woff') format('woff'),
        url('fonts/MachineItcDEE-Regu.ttf') format('truetype'),
        url('fonts/MachineItcDEE-Regu.svg#MachineItcDEE-Regu') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Marker Felt';
    src: url('fonts/MarkerFelt-Thin.eot');
    src: url('fonts/MarkerFelt-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/MarkerFelt-Thin.woff') format('woff'),
        url('fonts/MarkerFelt-Thin.ttf') format('truetype'),
        url('fonts/MarkerFelt-Thin.svg#MarkerFelt-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MarkerFeltWide';
    src: url('fonts/MarkerFeltWide.eot');
    src: url('fonts/MarkerFeltWide.eot?#iefix') format('embedded-opentype'),
        url('fonts/MarkerFeltWide.woff') format('woff'),
        url('fonts/MarkerFeltWide.ttf') format('truetype'),
        url('fonts/MarkerFeltWide.svg#MarkerFeltWide') format('svg');
    font-weight: 100;
    font-style: normal;
}




/* General */

	body.content_type_clase_khalamos {
		font-size: 1.8rem;
		font-family: 'VAGRoundedTME';
	}

	body.content_type_clase_khalamos #actividad .content img {
		padding: 5px;
	}


	.is_app.content_type_clase_khalamos {
		padding-top: 0px;
	}

	.content_type_clase_khalamos #actividad {
		margin-bottom: 0px;
		-webkit-transform: none;
		-webkit-transform-style: flat;
	}

	#actividad .carousel-inner .item-container {
		background-image: none;
		margin: 20px auto 30px;
		padding: 0px;
		padding-bottom: 90px;
		position: relative;
	}

	.content_type_clase_khalamos #actividad .slide-concatenate {
		margin-top: 30px;
	}

	.content_type_clase_khalamos #actividad .content .header .title img,
	.content_type_clase_khalamos #actividad .content .header .chapter {
		display: none;
	}

	.content_type_clase_modern #actividad .content .header .title {
		margin-top: -40px;
    padding-top: 30px;
    padding-bottom: 10px;
    background: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 9px #0000003b;
    border: 2px solid #69b667;
    border-top: 0;
    margin-bottom: 35px;
	}

	#indice .units ul li a .number,
	#indice .unit-content .header .number {
		visibility: hidden;
	}

	/*TOC*/
	#indice .units ul li {
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
    border-radius: 0px 0px 30px 0px;
	}

	#indice .units ul li a:not(.delete) {
	    padding: 16px 16px;
	}
	#indice .units ul li.active:not(.disabled),
	 body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
	  #indice .units ul li:focus:not(.disabled) {
	    background-color: #F18317 !important;
	    border-color: #F18317;
	}

	#indice .units ul li {
	    padding: 0;
	    background: white;
	    /*border: 3px solid #0C4261;*/
	    border-radius: 0px 0px 30px 0px;
	}
	#indice .units ul li a .title {
	    font-size: 18px;
	    color: #0c4261;
	}
	#indice .unit-content .header .title {
	    color: #0c4261; 
	}

/*..*/

/*logo*/
.body_clase .libro-left .title {
	white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background-color: white;
    color: #0b4261;
}

.libro-left ul, .libro-right ul {
	list-style: none;
    height: 44px;
    background-color: #0b4261;
}
.navbar.libro {
	background: #ffffff !important;
    box-shadow: 3px 3px 11px 0px #77848c;
}

    
.libro-left ul li .title {
	background-color: #fff;
    color: #0b4261;
}

.libro-left .info {

}

.libro-left ul li .title:before {
content: "";
    background-size: contain;
    top: 3px;
    background-image: url(images/logo_khalamos-ELEGIDO-PRINCIPAL-250-min.png) !important;
    position: fixed;
    width: 200px;
    height: 38px;
    background-repeat: no-repeat;
    left: 50%;
    margin-left: -40px;
}
	.content_type_clase_khalamos #actividad .content .header {
		border: none;
		margin-bottom: 0;
		padding: 0px 60px;
	}

	.content_type_clase_khalamos #actividad .content .header .title {
	margin-top: -40px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: #8197CD;
    border-radius: 0px 0px 30px 0px;
    box-shadow: 0px 3px 9px #0000003b;
    border: 0;
    border-top: 0;
    margin-bottom: 35px;
    width: fit-content;
    margin-left: -60px;
	}

	.content_type_clase_khalamos #actividad .content .slide-concatenate .header .title {
		display: none;
	}

	.content_type_clase_khalamos #actividad .content .header .title h3 {
	font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding: 9px 20px;
    display: block;
    margin: -12px 0 0 0;
    font-weight: 800;
	}

	.content_type_clase_khalamos #actividad .content .header .title h3 span {
		float: left;
		font-size: 1.8rem;
		font-weight: 900;
		line-height: 1.1rem;
	}

	.content_type_clase_khalamos #actividad .slide_content_type_1 .pregunta .texto_curso,
	.content_type_clase_khalamos #actividad .texto_curso,
	.html-book {
		font-size: 1.8rem;
	}

	.texto_curso p:last-of-type {
		margin-bottom: 15px;
	}

	.content_type_clase_khalamos #actividad .texto_curso li,
	.content_type_clase_khalamos #actividad .workspace ul li li {
		margin-bottom: 10px;
	}

	#actividad .class_slide {
    	padding: 40px 0 0;
	}

	#actividad .class_slide:last-of-type {
	    padding-bottom: 0px;
	}

	#actividad .slide-concatenate .class_slide {
	    padding-bottom: 20px;
	}

	#actividad .slide-concatenate:last-of-type .class_slide {
	    padding-bottom: 100px;
	}

	.content_type_clase_khalamos .slide_main {
		padding: 0 97px;
	}

	@media screen and (max-width: 480px) {
		.content_type_clase_khalamos .slide_main {
			padding: 0 35px;
		}
	}

	.content_type_clase_khalamos .slide_main input,
	.content_type_clase_khalamos .slide_main .img-input-container {
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		        border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		     box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		-moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
	}

	.content_type_clase_khalamos .slide_main input:focus,
	.content_type_clase_khalamos .slide_main .img-input-container:focus {
		border-top-color: #3AC62A;
		border-right-color: #3AC62A;
		border-bottom-color: #3AC62A;
		border-left-color: #3AC62A;
		outline-width: 0px;
		outline-style: none;
		-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		   -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
		        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
	}

	.content_type_clase_khalamos .slide_main input[disabled],
	.content_type_clase_khalamos .slide_main input[readonly],
	fieldset[disabled] .content_type_clase_khalamos .slide_main input,
	.content_type_clase_khalamos .slide_main .img-input-container {
		cursor: not-allowed;
		background-color: #eee;
		opacity: 1;
	}

	.content_type_clase_khalamos .slide_main .img-input-container input[readonly],
	.content_type_clase_khalamos .slide_main .img-input-container input[disabled] {
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.content_type_clase_khalamos .slide_main input.respuesta_ok,
	.content_type_clase_khalamos .slide_main .img-input-container.respuesta_ok {
		border-color: #57e900;
		background: #D1F3BD;
	}

	.content_type_clase_khalamos .slide_main input.respuesta_ko,
	.content_type_clase_khalamos .slide_main .img-input-container.respuesta_ko {
		border-color: #FF3626;
		background: #FFA49D;
	}

	.content_type_clase_khalamos .slide_main input.solucion,
	.content_type_clase_khalamos .slide_main .img-input-container.solucion {
		border-color: #00BDFF;
		background: #B6ECFF;
	}

	.zoom_flag_img {
		top: 15px;
		right: 15px;
	}
/**/

/* Navbar */


	.navbar-bottom {
		background: url(images/Demo_Khalamos_PiedePaginaCorto-min.png);
	    background-position: bottom;
	    background-repeat: repeat-x;
	    background-size: 300px;
	    margin-bottom: 20px;
	}

		.logo-publisher {
		display: none;
	}

	@media screen and (max-width: 991px) {
		.navbar.libro {
			background: #0b4261 !important;
		}

	}


	@media only screen and (max-width: 640px) {
		.navbar.libro {
			background: #0b4261 !important;
		}


		.navbar-bottom {
			padding-left: 40px;
			padding-right: 40px;
		}

		.logo-publisher {
			width: 40px;
			display: none;		
		}
	}

	.slider-indicators {
	    padding-left: 0px;
	    padding-right: 0px;
	    white-space: nowrap;
	}
	.edit .slider-indicators {
		white-space: normal;
	}
	.slider-indicators li,
	.edit .slider-indicators li {
		background-color: #ffffff;
	    color: #005840;
	}

	.slider-indicators .active,
	.edit .slider-indicators .active,
	.slider-indicators li:hover,
	.edit .slider-indicators .concat.active,
	.slider-indicators .active {
	    background-color: #007FA3;
	    color: #ffffff;
	}

	.edit .slider-indicators .concat.active:before {
 		background-color: #007FA3;
	}

	#bottom-navigator {
		overflow: hidden;
		position: relative;
	}
	#bottom-navigator .slider-indicators {
		margin-left: auto;
		margin-right: auto;
	}
	#bottom-navigator .slider-indicators:after {
		content: '';
		display: table;
		clear: both;
	}
	#bottom-navigator li {
		width: 18px;
		height: 18px;
		margin: 2px 5px;
		background: #fff;
		color: transparent;
		line-height: 2.2rem;
		font-size: 1.8rem;
		font-weight: bold;
		text-indent: initial;
	}
	#bottom-navigator li:hover {
		background: rgb(142, 206, 224);
		color: transparent;
	}
	#bottom-navigator li.active {
		background: #cee0cc;
    color: transparent;
    margin-top: 10px;
	}
	#bottom-navigator.show_left:before {
		content: '\F053';
		font-family: 'FontAwesome';
		position: absolute;
		left: 0;
		z-index: 100;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: left;
		background: -webkit-gradient(linear, left top, right top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(left, #132E4C, transparent);
		background: -moz-linear-gradient(left, #132E4C, transparent);
		background: -o-linear-gradient(left, #132E4C, transparent);
		background: linear-gradient(to right, #132E4C, transparent);
	}

	#bottom-navigator.show_right:after {
		content: '\F054';
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
		color: #ffffff;
		top: 10px;
		height: 35px;
		line-height: 5.4rem;
		width: 20px;
		text-align: right;
		background: -webkit-gradient(linear, right top, left top, from(#132E4C), to(transparent));
		background: -webkit-linear-gradient(right, #132E4C, transparent);
		background: -moz-linear-gradient(right, #132E4C, transparent);
		background: -o-linear-gradient(right, #132E4C, transparent);
		background: linear-gradient(to left, #132E4C, transparent);
	}

/**/
/*TITULO 1*/
.bck-title1 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #E56C9C;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    box-shadow: none;
    border: none;
    background: none;
}
.bck-title1:after {
    background: url(images/titulo_recodermos-min.jpg);
    content: "";
    background-size: 48px;
    background-repeat: no-repeat;
    position: relative;
    width: 17px;
    height: 54px;
    top: -3px;
    padding: 0px 28px;
    margin-left: 10px;
}

/*Titulo 2*/
.bck-title2 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #283583;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.bck-title2:after {
    background: url(images/titulo_observa-min.png);
    content: "";
    background-size: 58px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 57px;
    top: 6px;
    padding: 0px 49px;
}



/*Titulo 3*/
.bck-title3 {
    font-size: 1.6rem;
    font-size: 18px;
    color: inherit;
    font-weight: 700;
    line-height: 22px;
}

/*Titulo 4*/
.bck-title4 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #E30613;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
    .bck-title4:after {
    background: url(images/titulo_trabaja_mat_conc-min.jpg);
        content: "";
        background-size: 65px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 48px;
    top: 2px;
    padding: 0px 49px;
    margin-left: 5px;
    }

/*Titulo 5*/
.bck-title5 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #EE7481;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
    .bck-title5:after {
    background: url(images/titulo_haz_aprende-min.jpg);
        content: "";
        background-size: 48px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 61px;
    top: 2px;
    padding: 0px 49px;
    margin-left: 8px;
    }

    /*Titulo 6*/
.bck-title6 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #BA6E17;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
    .bck-title6:after {
    background: url(images/titulo_autoevaluacion-min.jpg);
	content: "";
    background-size: 79px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 56px;
    top: -9px;
    padding: 0px 49px;
    margin-left: 8px;
    }

    /*Titulo 7*/
.bck-title7 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #D9AE00;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
    .bck-title7:after {
    background: url(images/titulo_tic-min.jpg);
        content: "";
    background-size: 60px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 75px;
    top: 11px;
    padding: 0px 48px;
    margin-left: 8px;
    }

 /*Titulo 8*/
 .bck-title8 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #F39200;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
    .bck-title8:after {
    background: url(images/titulo_muestra-min.jpg);
        content: "";
        background-size: 65px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 75px;
    top: 12px;
    padding: 0px 48px;
    margin-left: 5px;
    }
 /*Titulo 9*/
 .bck-title9 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #009FE4;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
    .bck-title9:after {
    background: url(images/titulo_pensemos-min.png);
        content: "";
        background-size: 85px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 75px;
    top: -5px;
    padding: 0px 48px;
    margin-left: 0px;
   }

 /*Titulo 10*/
.bck-title10 {
    font-size: 2.0rem;
    clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #662383;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
    .bck-title10:after {
    background: url(images/titulo_trabaja_pareja-min.jpg);
        content: "";
        background-size: 90px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 75px;
    top: 5px;
    padding: 0px 48px;
    margin-left: 9px;
    }

/*Titulo 11*/
.bck-title11 {
    font-size: 3rem;
    color: inherit;
    font-weight: 700;
    line-height: 22px;
    font-family: 'Flash D';
}    

 /*Titulo 12*/
.bck-title12 {
	clear: both;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Brun';
    font-size: 28px;
    font-weight: 500;
    color: #12399A;
    text-shadow: 0px 2px 3px #0000006b;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
    .bck-title12:after {
    background: url(images/titulo_interactive.png);
    content: "";
    background-size: 58px;
    background-repeat: no-repeat;
    position: relative;
    width: 46px;
    height: 57px;
    top: 6px;
    padding: 0px 29px;
    }

 /*Titulo 13*/
.bck-title13 {
	margin-bottom: 20px;
    border-radius: 47px;
    padding: 6px 26px 6px 6px;
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    font-family: 'EurostileTBla';
    position: relative;
    background-color: #8F1D81;
    box-shadow: none;
    width: fit-content;
}
    .bck-title13:before {
	background: url(images/titulo_recordemos.png);
    content: "";
    background-size: 59px;
    background-repeat: no-repeat;
    position: relative;
    width: 40px;
    height: 38px;
    left: -9px;
    top: 0px;
    padding: 15px 30px;
    margin-left: -15px;
    }

 /*Titulo 14*/
.bck-title14 {
	margin-bottom: 20px;
    border-radius: 47px;
    padding: 6px 26px 6px 6px;
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    font-family: 'EurostileTBla';
    position: relative;
    background-color: #D9D61C;
    box-shadow: none;
    width: fit-content;
}
    .bck-title14:before {
	background: url(images/titulo_actividades.png);
    content: "";
    background-size: 59px;
    background-repeat: no-repeat;
    position: relative;
    width: 40px;
    height: 38px;
    left: -9px;
    top: 0px;
    padding: 15px 30px;
    margin-left: -15px;
    }

     /*Titulo 15*/
.bck-title15 {
	font-size: 2.8rem;
    color: #E73446;
    padding-bottom: 8px;
    width: fit-content;
    border-bottom: 7px solid #F8C8CC;
    font-weight: 700;
    line-height: 22px;
    font-family: 'Helvetica Neue LT Std';
}

     /*Titulo 16*/
.bck-title16 {
	font-size: 2.6rem;
    color: #E73446;
    font-weight: 700;
    line-height: 22px;
    font-family: 'Helvetica Neue LT Std';
}

  /*Titulo 17*/
.bck-title17 {
	font-size: 5.6rem;
    color: #832800;
    text-shadow: 2px 0px 0px #cba500;
    font-weight: 700;
    line-height: 1;
    font-family: 'xscale';
}

  /*Titulo 18*/
.bck-title18 {
    font-size: 3.5rem;
    color: #25408F;
    font-weight: 700;
    line-height: 22px;
    font-family: 'VAGRoundedTME';
}

  /*Titulo 19*/
.bck-title19 {
    font-size: 2.6rem;
    color: #41AD49;
    font-weight: 700;
    line-height: 22px;
    font-family: 'VAGRoundedTME';
}

  /*Titulo 20*/
.bck-title20 {
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 6px 9px 0px 9px;
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    font-family: 'Doctor Soos';
    position: relative;
    background-color: #F15B60;
    box-shadow: 3px 2px 0px 1px #d35054;
    width: fit-content;
}
.bck-title20:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #f15b60;
    position: relative;
    left: 15px;
    top: 42px;
    margin-left: -15px;
}

/*enfasis*/
.bck-enfasis-1 {
	font-size: 4rem;
    font-weight: 900;
    color: #FFCD21;
    text-shadow: #ed6b30 1px 1px 1px;
}

.bck-enfasis-2 {
background-color: #6FBFBA;
    border: 3px solid #6FBFBA;
    padding: 3px 12px;
    color: #FFCD21;
    border-radius: 25px;
    min-width: 30px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 0px;
    text-shadow: #fff 1px 1px 1px;
}

.bck-enfasis-3 {
	 font-family: 'Dimbo';
}

.bck-enfasis-4 {
	font-family: 'Warnock Pro';
}

.bck-enfasis-5 {
	color: #CE171A;
}

.bck-enfasis-6 {
background-color: #E73446;
    padding: 0px 22px 0px 9px;
    font-size: 4rem;
    clip-path: polygon(0% 2%,100% 1%,88% 91%,0% 100%);
    color: #fff;
    font-family: 'Helvetica Neue LT Std';
}


.bck-enfasis-7 {
background-color: #FAA74A;
    padding: 3px 17px 0px 29px;
    border-radius: 0 23px 23px 0;
    border: 2px #fff solid;
    box-shadow: 3px 3px 6px 1px #d2d2d2;
    font-size: 3rem;
    color: #fff;
    font-family: 'MachineItcDEE';
}

.bck-enfasis-7:before {
	width: 60px;
    height: 44px;
    background: #faa74a;
    PADDING: 10px 11PX;
    border-radius: 115px /82px;
    content: '';
    content: "LA";
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid TRANSPARENT;
    border: 2px #fff solid;
    box-shadow: -3px 3px 6px 0px #eeeeee;
    position: ABSOLUTE;
    text-align: center;
    margin-top: -13px;
    margin-left: -71px;
}

/* Lists */

.texto_curso ul li,
.workspace ul li ul li,
.cke_contents ul li {
	padding-left: 30px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before {
	width: 4px;
	height: 4px;
	background-color: #414141;
}

.content .bck-ol,
.cke_contents .bck-ol,
.content ol,
.cke_contents ol {
	list-style-type: none;
	padding-left: 0;
	counter-reset: bck-li-counter;
}

.content .bck-ol li,
.cke_contents .bck-ol li,
.content ol li,
.cke_contents ol li {
	list-style-type: none;
	padding-left: 28px;
	margin-bottom: 16px;
	counter-increment: bck-li-counter;
	position: relative;
	line-height: 1.1rem;
}
.content ol li:before, 
.cke_contents ol li:before {
	content: counter(bck-li-counter);
    margin-left: -40px;
    font-weight: bold;
    margin-top: -2px;
    background-color: snow;
    border: none;
    padding: 3px;
    color: #262e2a;
    border-radius: 25px;
    min-width: 30px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    padding-top: 0px;
    box-shadow: none;
}

.content .bck-ol1 li:before,
.cke_contents .bck-ol1 li:before,
.content ol li:before,
.cke_contents ol li:before {
content: counter(bck-li-counter);
    position: absolute;
    top: -2px;
    left: -3px;
    display: block;
    width: 24px;
    height: 30px;
    -webkit-box-shadow: 2px 2px 2px 0px rgb(174 87 30);
    -moz-box-shadow: 2px 2px 2px 0px rgba(174,87,30,1);
    box-shadow: 2px 2px 2px 0px rgb(174 87 30);
    border: 1px solid #b25313;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #F58220;
    padding-top: 3px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.5rem;
}

/*LISTA ORDENADA 1*/
#actividad .content .cke_contents .bck-ol1 li,
#actividad .content .cke_contents .bck-ol1 li,
#actividad .content .texto_curso .bck-ol1 li,
#actividad .popover-content .bck-ol1 li,
#actividad .content .workspace ul li .bck-ol1 li {
	margin-bottom: 20px;
}

.content .bck-ol1 li:before,
.cke_contents .bck-ol1 li:before {
	content: counter(bck-li-counter);
    margin-left: -40px;
    font-weight: bold;
    margin-top: -7px;
    background-color: #F39200;
    border: 3px solid #D46B36;
    padding: 3px;
    color: white;
    border-radius: 17px 38px 17px 38px;
    min-width: 40px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    padding-top: 4px;
    margin-bottom: 42px;
    height: 40px;
}

/*LISTA ORDENADA 2*/
#actividad .content .cke_contents .bck-ol2,
#actividad .content .texto_curso .bck-ol2,
#actividad .content .workspace ul li .bck-ol2 {
	list-style-type: none;
	counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol2 li,
#actividad .content .cke_contents .bck-ol2 li,
#actividad .content .texto_curso .bck-ol2 li,
#actividad .popover-content .bck-ol2 li,
#actividad .content .workspace ul li .bck-ol2 li {
	counter-increment: bck-li-counter;
	padding-left: 5px;
	position: relative;
	z-index: 0;
	margin-left: 23px;
}

.content .bck-ol2 li:before,
.cke_contents .bck-ol2 li:before {
	content: counter(bck-li-counter, lower-alpha)')';
    position: absolute;
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: right;
    left: -35px;
    font-family: inherit;
    margin: 0px 0px 0px -1px;
    width: inherit;
    background-color: #fff;
    border: none;
    box-shadow: none;
}


/*LISTA ORDENADA 3*/
#actividad .content .cke_contents .bck-ol3 li,
#actividad .content .cke_contents .bck-ol3 li,
#actividad .content .texto_curso .bck-ol3 li,
#actividad .popover-content .bck-ol3 li,
#actividad .content .workspace ul li .bck-ol3 li {
	margin-bottom: 20px;
	font-family: 'Warnock Pro';
}

.content .bck-ol3 li:before,
.cke_contents .bck-ol3 li:before {
	content: counter(bck-li-counter)'.';
    position: absolute;
    top: -2px;
    left: 25px;
    display: block;
    font-family: 'Warnock Pro';
    padding-top: 4px;
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.5rem;
}

/*LISTA ORDENADA 4*/
#actividad .content .cke_contents .bck-ol4,
#actividad .content .texto_curso .bck-ol4,
#actividad .content .workspace ul li .bck-ol4 {
	list-style-type: none;
	counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol4 li,
#actividad .content .cke_contents .bck-ol4 li,
#actividad .content .texto_curso .bck-ol4 li,
#actividad .popover-content .bck-ol4 li,
#actividad .content .workspace ul li .bck-ol4 li {
	counter-increment: bck-li-counter;
	padding-left: 5px;
	position: relative;
	z-index: 0;
	font-family: 'Warnock Pro';
	margin-left: 23px;
}

.content .bck-ol4 li:before,
.cke_contents .bck-ol4 li:before {
	content: counter(bck-li-counter, lower-alpha)')';
    position: absolute;
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: right;
    left: -35px;
    font-family: 'Warnock Pro';
    margin: 0px 0px 0px -1px;
    width: inherit;
    background-color: #fff;
    border: none;
    box-shadow: none;
}

/*LISTA ORDENADA 4*/
#actividad .content .cke_contents .bck-ol5,
#actividad .content .texto_curso .bck-ol5,
#actividad .content .workspace ul li .bck-ol5 {
	list-style-type: none;
	counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol5 li,
#actividad .content .cke_contents .bck-ol5 li,
#actividad .content .texto_curso .bck-ol5 li,
#actividad .popover-content .bck-ol5 li,
#actividad .content .workspace ul li .bck-o5 li {
	counter-increment: bck-li-counter;
	padding-left: 5px;
	position: relative;
	z-index: 0;
	margin-left: 23px;
}

.content .bck-ol5 li:before,
.cke_contents .bck-ol5 li:before {
	content: counter(bck-li-counter);
    position: absolute;
    top: -2px;
    left: -3px;
    display: block;
    width: 24px;
    height: 30px;
    box-shadow: NONE;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #283583;
    padding-top: 3px;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'VAGRoundedTME';
    line-height: 2.5rem;
}

/*LISTA DESORDENADA POR DEFECTO*/

.texto_curso ul li:before, .workspace ul li ul li:before, .cke_contents ul li:before {
    width: 6px;
    height: 6px;
    background-color: #414141;
}

/*CAJAS*/

.bck-box {
	margin: 10px;
	border: 2px solid #10a0c6;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	background: #fff;
	padding: 6px;
}

.bck-box .bck-content p:last-child {
	margin-bottom: 0;
}

/* Caja 1 */
.bck-box.bck-box1 {
	border: 3px solid #D5A66F;
    background: #FFFADF;
    position: relative;
    padding: 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
}


/* Caja 2 */
.bck-box.bck-box2 {
	border: 3px solid #C9E9FB;
    background: #C9E9FB;
    position: relative;
    padding: 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    box-shadow: none;
}

/* Caja 3 */
.bck-box.bck-box3 {
	border: 3px solid #fff;
    background: #FFE3B1;
    box-shadow: 0px 4px 10px 0px #d4d2d2;
    position: relative;
    padding: 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    transform: none;
}

.bck-box.bck-box3>.bck-title {
    top: 0;
    left: 0;
    border: none;
    position: inherit;
    border-radius: 0;
    background: inherit;
    transform: none;
}


/*TABLA POR DEFECTO*/ 
.content table:not(.rf-tablegrid) {
	border: inherit;
}



.content table:not(.rf-tablegrid) td,
.content table:not(.rf-tablegrid) th {
	background: none;
	padding: 5px;
}

.content table:not(.rf-tablegrid)[border] td{
	border: 3px solid #fff;

}

.content table:not(.rf-tablegrid)[border] th {
	border: 3px solid #fff;
}


table,
.bck-table {
    border: 3px solid #fff;
    padding: 10px;
}

table td,
.bck-table td {
	border-color: #000;
}

td,
th {
	padding-left: 10px;
}

table td.bck-td-1 {
    background: #3FAD56 !important;
    border-bottom: 3px solid #276A35;
}

table td.bck-td-2 {
    background: #E72C87 !important;
    border-bottom: 3px solid #B22269;
}

table td.bck-td-3 {
    background: #F59C21 !important;
    border-bottom: 3px solid #BC7819;
}

table td.bck-td-4 {
     background: #009FE3 !important;
    border-bottom: 3px solid #00618B;
}

table td.bck-td-5 {
    background-color: #EAF3E8 !important;
}
table td.bck-td-6 {
    background-color: #FCE5F1 !important;
}
table td.bck-td-7 {
    background-color: #FEF0DE !important;
}
table td.bck-td-8 {
    background-color: #DFF2FD !important;
}

/* Icons */

#actividad .player.audio {
	background: url(images/khalamos_audio.png) center center / cover;
}

#actividad .player.audio, 
#actividad .player.video, 
#help-panel-content .player, 
#remote-alert-modal-rich .player {
	vertical-align: middle;
}

.item-container .icon:before {
	content: "";
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	   -moz-background-size: auto 100%;
	     -o-background-size: auto 100%;
	        background-size: auto 100%;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 54px;
	margin-top: -16px;
}

.bck-file-attach:before {
	content: " ";
    background-image: url(images/khalamos_archivo.png);
    background-repeat: no-repeat;
    padding: 19px;
    background-size: contain;
    margin-top: 4px;
    position: absolute;
}

.bck-file-attach img {
	display: none;
}

.bck-file-attach span {
	display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 36px;
}

.bck-sub-label, .bck-file-label {
	background: #fff;
}

/*BOTONERA*/
.btn-danger, .btn-danger[disabled] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #fc4237;
    color: #fc4237;
    background: white;
    font-weight: 700;
    }
    .btn-primary, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #0B4261;
    color: #0B4261;
    background: white;
    font-weight: 700;
    }
    .btn-primary:not([disabled]):hover, .btn-primary:not([disabled]):focus, .btn-primary:not([disabled]):active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #0B4261;
    border-color: #0B4261;
    color: white
    }
    #actividad .content .review .attemps span {
    background-color: #0B4261;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
    .btn-primary[disabled], .btn-primary[disabled]:focus {
    color: #fff;
    background-color: #86A1B0;
    border-color: #86A1B0;
    }
    .btn-solution, .btn-solution.disabled,
    .btn-solution[disabled], .btn-next, .btn-next.disabled,
    .btn-next[disabled] {
    color: #00bdff;
    background-color: white;
    border-color: #00bdff;
    border: 2px solid #00bdff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    margin: 3px 5px;
    }
    .btn-solution:hover,
    .btn-solution:focus,
    .btn-solution:active,
    .btn-next:hover, .btn-next:focus,
    .btn-next:active,
    .open .dropdown-toggle.btn-solution {
    color: #fff;
    background-color: #00bdff;
    border-color: transparent;
    }
 /*---*/ 

/* Forms */

.content_type_clase_khalamos .slide_main input,
.content_type_clase_khalamos .slide_main .img-input-container {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
       -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    		box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
    border: 0px solid #ccc;
    border-bottom: 2px solid #10A0C6;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
    		border-radius: 0px;
}

.content_type_clase_khalamos .slide_main .fill-text .img-input-container {
    display: none;
}

.content_type_clase_khalamos .slide_main input:focus,
.content_type_clase_khalamos .slide_main .img-input-container:focus {
    border-top-color: #10A0C6;
    border-right-color: #10A0C6;
    border-bottom-color: #10A0C6;
    border-left-color: #10A0C6;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0);
}

/* Slides */

#actividad .workspace.multiple-choice .opcion,
#actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok),
#actividad .workspace.ordenar .js-rank-item {
    border-width: 2px;
    border-color: #10A0C6;
    border-style: solid;
    background: #fff;
}

#actividad .workspace.matching .opciones .opcion.emparejado.destino {
    border-width: 2px 2px 2px 0;
}

#actividad .workspace.matching .opciones .opcion.emparejado.origen {
    border-width: 2px 0 2px 2px;
}

#actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0px solid #d8d8d8;
}

#actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 2px solid #10A0C6;
    padding-top: 10px;
}

.fillblanks-draggable-wrapper .response {
    border: 0px solid #d8d8d8;
    background: #c1e5f7;
}

.fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper {
    padding: 0;
}

body.content_type_clase_khalamos #actividad .content .fillblanks-draggable-wrapper
.response .bck-i-fullscreen,
body.content_type_clase_khalamos #actividad .content .fillblanks-draggable
.img-input-container.imgFilled img {
	width: auto;
	height: 100px !important;
	padding: 0;
}


/*Plantilla cálculo numérico*/
#actividad .workspace.calculo .cifra {
    width: 25px;
    font-size: 22px;
    height: 30px;
}
#actividad .workspace.calculo .cifra input[type=text],
 #actividad .workspace.calculo .cifra input[type=tel] {
    text-align: center;
    width: 20px;
    padding: 0;
}

/*----------------------------unittag-----------------------------------*/
/*----------------------------unittag_grado1-----------------------------------*/
/*TOC*/
 #list-units .unittag_grado1_texto_a {
	background: rgb(188 207 2) !important;
	border-color: rgb(188 207 2);
}

/*TOC*/
 #list-units .unittag_grado1_texto_b {
	background: rgb(118 192 97) !important;
	border-color: rgb(118 192 97);
}

/*TOC*/
 #list-units .unittag_grado1_actividades_a_1 {
	background: rgb(173 211 97) !important;
	border-color: rgb(173 211 97);
}

/*TOC*/
 #list-units .unittag_grado1_actividades_a_2 {
	background: rgb(125 195 83) !important;
	border-color: rgb(125 195 83);
}

/*TOC*/
 #list-units .unittag_grado1_actividades_b_1 {
	background: rgb(170 214 192) !important;
	border-color: rgb(170 214 192);
}

/*TOC*/
 #list-units .unittag_grado1_actividades_b_2 {
	background: rgb(23 165 83) !important;
	border-color: rgb(23 165 83);
}

/*----------------------------unittag_grado2-----------------------------------*/
/*TOC*/
 #list-units .unittag_grado2_texto_a {
	background: rgb(119 206 215) !important;
	border-color: rgb(119 206 215);
}

/*TOC*/
 #list-units .unittag_grado2_texto_b {
	background: rgb(0 180 211) !important;
	border-color: rgb(0 180 211);
}

/*TOC*/
 #list-units .unittag_grado2_actividades_a_1 {
	background: rgb(161 219 228) !important;
	border-color: rgb(161 219 228);
}

/*TOC*/
 #list-units .unittag_grado2_actividades_a_2 {
	background: rgb(55 196 229) !important;
	border-color: rgb(55 196 229);
}

/*TOC*/
 #list-units .unittag_grado2_actividades_b_1 {
	background: rgb(93 174 225) !important;
	border-color: rgb(93 174 225);
}

/*TOC*/
 #list-units .unittag_grado2_actividades_b_2 {
	background: rgb(57 144 206) !important;
	border-color: rgb(57 144 206);
}

/*----------------------------unittag_grado3-----------------------------------*/
/*TOC*/
 #list-units .unittag_grado3_texto_a {
	background: rgb(186 188 224) !important;
	border-color: rgb(186 188 224);
}

/*TOC*/
 #list-units .unittag_grado3_texto_b {
	background: rgb(162 147 198) !important;
	border-color: rgb(162 147 198);
}

/*TOC*/
 #list-units .unittag_grado3_actividades_a_1 {
	background: rgb(182 179 225) !important;
	border-color: rgb(182 179 225);
}

/*TOC*/
 #list-units .unittag_grado3_actividades_b_1 {
	background: rgb(171 123 202) !important;
	border-color: rgb(171 123 202);
}

/*----------------------------unittag_grado4-----------------------------------*/
/*TOC*/
 #list-units .unittag_grado4_texto_a {
	background: rgb(249 199 181) !important;
	border-color: rgb(249 199 181);
}

/*TOC*/
 #list-units .unittag_grado4_texto_b {
	background: rgb(243 156 135) !important;
	border-color: rgb(243 156 135);
}

/*TOC*/
 #list-units .unittag_grado4_actividades_a_1 {
	background: rgb(255 133 113) !important;
	border-color: rgb(255 133 113);
}

/*TOC*/
 #list-units .unittag_grado4_actividades_b_1 {
	background: rgb(252 66 55) !important;
	border-color: rgb(252 66 55);
}

/*----------------------------unittag_grado5----------------------------------*/
/*TOC*/
 #list-units .unittag_grado5_texto_a {
	background: rgb(160 212 202) !important;
	border-color: rgb(160 212 202);
}

/*TOC*/
 #list-units .unittag_grado5_texto_b {
	background: rgb(43 180 161) !important;
	border-color: rgb(43 180 161);
}

/*TOC*/
 #list-units .unittag_grado5_actividades_a_1 {
	background: rgb(50 218 196) !important;
	border-color: rgb(50 218 196);
}

/*TOC*/
 #list-units .unittag_grado5_actividades_b_1 {
	background: rgb(0 196 180) !important;
	border-color: rgb(0 196 180);
}

/*----------------------------unittag_grado5----------------------------------*/
/*TOC*/
 #list-units .unittag_grado6_texto_a {
	background: rgb(253 188 19) !important;
	border-color: rgb(253 188 19);
}

/*TOC*/
 #list-units .unittag_grado6_texto_b {
	background: rgb(250 166 26) !important;
	border-color: rgb(250 166 26);
}

/*TOC*/
 #list-units .unittag_grado6_actividades_a_1 {
	background: rgb(254 178 88) !important;
	border-color: rgb(254 178 88);
}

/*TOC*/
 #list-units .unittag_grado6_actividades_b_1 {
	background: rgb(253 130 4) !important;
	border-color: rgb(253 130 4);
}

/*----------------------------coursetag_discovering----------------------------------*/

body.coursetag_discovering.content_type_clase_khalamos {
	font-family: 'Warnock Pro';
}
